## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

---
## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function

Returns the data type of an object. 

```python
type(object)
```

### Examples

In [ ]:
type a for new line above or b for below

---

## Variables

### Assigning a variable

In [2]:
type(123.0)

float

In [3]:
type('hello')

str

In [1]:
type(123)

int

In [4]:
type(True)

bool

In [5]:
type(False)

bool

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

### Updating a variable

In [20]:
favorite_number = 13
n = favorite_number + 7
x = 0

NameError: name 'x' is not defined

In [10]:
print(type(favorite_number))
print(n)

<class 'int'>
20

#### Example: Running a cell multiple times

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

In [22]:
True == False

False

In [24]:
isFirstOfTheMonth = True
reportHasBeenSent = False


shouldProcessReport = isFirstOfTheMonth and not reportHasBeenSent
print(shouldProcessReport)

True

In [25]:
isFirstOfTheMonth = False
reportHasBeenSent = False


shouldProcessReport = isFirstOfTheMonth and not reportHasBeenSent
print(shouldProcessReport)

False

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |



## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

In [26]:
1 > 2

False

In [29]:
1 < 2

True

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

In [ ]:
'this a string with single quotes'

In [30]:
"this is a string with double quotes"

'this is a string with double quotes'

In [33]:
"this is a lowercase string until..".upper()

'THIS IS A LOWERCASE STRING UNTIL..'

In [34]:
'''multiline with
tripple quotes'''

'multiline with\ntripple quotes'

In [35]:
'\nThis string\ncan contain\na lot of\ntext!\n'

'\nThis string\ncan contain\na lot of\ntext!\n'

### Operations with strings

In [36]:
'abc' != 'def'

True

### Examples

In [ ]:
'abc' + 'def' + 'ghi'

### Formatting strings

In [41]:
myName = "Josh"
greeting = f"Hello {myName} How are you today?"
print(greeting)

Hello Josh How are you today?

### Examples

In [46]:
s = "       HEllO,         world"

In [47]:
s.lower().strip()

'hello,         world'

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

In [48]:
a = "123 Main Street"

In [50]:
a.split()

['123', 'Main', 'Street']

In [58]:
b = a.split()
print(b)
c = b.join(" ")
print(c)

['123', 'Main', 'Street']

AttributeError: 'list' object has no attribute 'join'

---

## Lists

### Creating a list

In [61]:
number_list = [1, 2, 3]

In [59]:
string_list = ['one', 'two', 'three']

In [64]:
list_of_list = [number_list, string_list]
print(list_of_list)

[[1, 2, 3], ['one', 'two', 'three']]

### List comprehensions

In [72]:
numbers_list = [n for n in range(10)]
print(numbers_list)

[n * 2 for n in range(10)]
[n * 2 for n in range(10) if n % 2 == 0]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 4, 8, 12, 16]

### List Operations

In [79]:
number_list = [1,2,3]
number_list.append(4)
number_list

[1, 2, 3, 4]

In [80]:
number_list.pop()
number_list
len(number_list)

3

In [82]:
number_list[2]

3

In [86]:
number_list[:2]
number_list[1:2]
number_list[1:]

[2, 3]

In [89]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [91]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
my_numbers = [1, 2, 3]
list(map(str, my_numbers))

['1', '2', '3']

---

## Tuples

In [95]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)


---

## Dictionaries

In [97]:
my_dictionary = {
    'name': 'Codeup',
    'age': 9
    
}

In [98]:
my_dictionary

{'name': 'Codeup', 'age': 9}

### Creating a dictionary

In [113]:
school = dict(name = 'Codeup', age = 9, cohort = 'Oneil', location = 'San Antonio')

### Accessing dictionary values

In [106]:
school['name']

'Codeup'

In [117]:
school['age']

10

In [112]:
school["cohort"]

'Oneil'

In [115]:
school['location']

'San Antonio'

In [116]:
school['age'] = 10

## Changing data types

```python
int()
```

```python
str()
```

### Examples

In [121]:
a = 3
type(a)
str(a)
b = '6'
int(b)

6

In [123]:
name = input('What is your name?')
print(name)

What is your name?j
j

In [124]:
first_number = input('what is the first number')
second_number = input('what is the second number')

what is the first number2
what is the second number5

### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```